.technologyHome-header{
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 1); /* Fondo negro */
    color: white;
    padding-top: 15px;
}

.technologyHome-header-content {
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    width: 100%; 
    padding: 0 0 15px 0; 
    box-sizing: border-box; /* Incluye el padding en el tamaño total del contenedor */
  }
nav ul{
  padding-right: 20px;
}
  nav li{
    display: inline; /* Coloca los elementos en línea */
    margin-right: 40px; /* Espacio entre los elementos */
  }
  nav li a{
    color: white;
    text-decoration: none;
    flex-direction: row;
    padding: 0; 
    margin: 0;
  }

.technologyHome-landing{
    background-image: url('/Image/ACC_Gradient_Dark_5.jpeg'); /* Ruta de la imagen de fondo */
    background-size: cover; /* Hace que la imagen cubra toda la pantalla */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    overflow: hidden; /* Oculta el desbordamiento para evitar scroll */
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.technologyHome-conteiner-text-landing{
    color: white;
    font-size: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 50px 0 50px;
    
}
.technologyHome-conteiner-text-icon{
    color: white;
    display: flex;
    align-items: center;
    margin-right: 90px;
}
.technologyHome-logo-accenture{
    min-width: 400px;
    min-height: 200px;
}

.technologyHome-conteiner-team-text{
  color: #A100FF;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: large;
}
